In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [3]:

 # the loaded data file
    
data = pd.read_csv('heart_attack_processed.csv')    
data.head()

#heart_file = pd.DataFrame({'': rng.rand(#whatever)})
# can specify what columns you want 
# heart_file.dropna().describe()


#heart_file = pd.read_csv('heart_attack_processed.csv')
#df = pd.DataFrame(data.data,
                  #columns = data.feature_names)

#df = pd.DataFrame(data.data,
                 # columns = data.feature_names)

#df
# Used information from source below to convert excel file to csv file
#https://datatofish.com/excel-to-csv-python/

,Unnamed: 0,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.keys()

Index(['Unnamed: 0', 'age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg',
       'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [5]:
data.dtypes

Unnamed: 0      int64
age             int64
sex             int64
cp              int64
trtbps          int64
chol            int64
fbs             int64
restecg         int64
thalachh        int64
exng            int64
oldpeak       float64
slp             int64
caa             int64
thall           int64
output          int64
dtype: object

In [7]:
columns = ('Unnamed: 0','age','sex','cp','trtbps','chol','restecg','thalachh','exng','oldpeak','slp','caa','thall','ouput')

In [17]:
# Method chain 1 (Load data, clean data and deal with missing data)

heart_file = (data.rename(columns = {'age':'Age', 'sex':'Sex of Patient',
                     'cp':'Chest Pain','trtbps':'Resting bp(mmHg)','chol':'Cholesterol',
                     'restecg':'Resting ECG','thalachh':'Max Heart Rate'})
        .dropna(axis ='columns'))  

heart_file

,Unnamed: 0,Age,Sex of Patient,Chest Pain,Resting bp(mmHg),Cholesterol,fbs,Resting ECG,Max Heart Rate,exng,oldpeak,slp,caa,thall,output
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [18]:
#Cleaning data and removing any unused columns

del heart_file['exng']

In [19]:
del heart_file['slp']

In [20]:
del heart_file['thall']

In [21]:
del heart_file['caa']

In [22]:
del heart_file['oldpeak']

In [23]:
del heart_file['Unnamed: 0']

In [16]:
heart_file.head()

,Age,Sex of Patient,Chest Pain,Resting bp(mmHg),Cholesterol,fbs,Resting ECG,Max Heart Rate,output
0,63,1,3,145,233,1,0,150,1
1,37,1,2,130,250,0,1,187,1
2,41,0,1,130,204,0,0,172,1
3,56,1,1,120,236,0,1,178,1
4,57,0,0,120,354,0,1,163,1

In [24]:
## Want to save this cleaned/processed data to be used for further analysis throughout the project
# Make the new dataframe into a csv file that can be accessed

heart_file.to_csv("new_heart_file.csv")

In [ ]:
# to find the average of rows/ columns 

df.mean(axis ='columns')