### **Importing Data**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

#### **Loading Data**

In [3]:
    
data = pd.read_csv('heart_attack_processed.csv')    
data.head()

#heart_file = pd.DataFrame({'': rng.rand(#whatever)})
# can specify what columns you want 
# heart_file.dropna().describe()


#heart_file = pd.read_csv('heart_attack_processed.csv')
#df = pd.DataFrame(data.data,
                  #columns = data.feature_names)

#df = pd.DataFrame(data.data,
                 # columns = data.feature_names)

#df
# Used information from source below to convert excel file to csv file
#https://datatofish.com/excel-to-csv-python/

,Unnamed: 0,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.keys()

Index(['Unnamed: 0', 'age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg',
       'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output'],
      dtype='object')

In [5]:
data.dtypes

Unnamed: 0      int64
age             int64
sex             int64
cp              int64
trtbps          int64
chol            int64
fbs             int64
restecg         int64
thalachh        int64
exng            int64
oldpeak       float64
slp             int64
caa             int64
thall           int64
output          int64
dtype: object

In [7]:
columns = ('Unnamed: 0','age','sex','cp','trtbps','chol','restecg','thalachh','exng','oldpeak','slp','caa','thall','ouput')

### **Method Chaining**

In [74]:
    
# Method chain 1 (Load data, clean data and deal with missing data)
heart_file = (data.rename(columns = {'age':'Age', 'sex':'Sex',
                     'cp':'Chest Pain','trtbps':'Resting bp(mmHg)','chol':'Cholesterol',
                     'restecg':'Resting ECG','thalachh':'Max Heart Rate','fbs':'Fasting Blood Sugar','output':'Result'})
        .dropna(axis ='columns')
        .sort_values("Cholesterol", ascending=True))


heart_file

#removed NaN values in columns
#renamed columns
# Cholesterol now in ascending values

,Unnamed: 0,Age,Sex,Chest Pain,Resting bp(mmHg),Cholesterol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,exng,oldpeak,slp,caa,thall,Result
111,111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
301,301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
53,53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
151,151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
267,267,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
220,220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
246,246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
28,28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
85,85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1

### **Describe Data**

In [75]:
heart_file.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,303.0,151.000000,87.612784,0.0,75.5,151.0,226.5,302.0
Age,303.0,54.366337,9.082101,29.0,47.5,55.0,61.0,77.0
Sex,303.0,0.683168,0.466011,0.0,0.0,1.0,1.0,1.0
Chest Pain,303.0,0.966997,1.032052,0.0,0.0,1.0,2.0,3.0
Resting bp(mmHg),303.0,131.623762,17.538143,94.0,120.0,130.0,140.0,200.0
Cholesterol,303.0,246.264026,51.830751,126.0,211.0,240.0,274.5,564.0
Fasting Blood Sugar,303.0,0.148515,0.356198,0.0,0.0,0.0,0.0,1.0
Resting ECG,303.0,0.528053,0.525860,0.0,0.0,1.0,1.0,2.0
Max Heart Rate,303.0,149.646865,22.905161,71.0,133.5,153.0,166.0,202.0
exng,303.0,0.326733,0.469794,0.0,0.0,0.0,1.0,1.0
oldpeak,303.0,1.039604,1.161075,0.0,0.0,0.8,1.6,6.2
slp,303.0,1.399340,0.616226,0.0,1.0,1.0,2.0,2.0
caa,303.0,0.729373,1.022606,0.0,0.0,0.0,1.0,4.0
thall,303.0,2.313531,0.612277,0.0,2.0,2.0,3.0,3.0
Result,303.0,0.544554,0.498835,0.0,0.0,1.0,1.0,1.0

### **Cleaning Data and Removing any Unused Columns**

In [76]:
del heart_file['exng']

In [77]:
del heart_file['slp']

In [78]:
del heart_file['thall']

In [79]:
del heart_file['caa']

In [80]:
del heart_file['oldpeak']

In [81]:
del heart_file['Unnamed: 0']

In [82]:
heart_file

,Age,Sex,Chest Pain,Resting bp(mmHg),Cholesterol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,Result
111,57,1,2,150,126,1,1,173,1
301,57,1,0,130,131,0,1,115,0
53,44,0,2,108,141,0,1,175,1
151,71,0,0,112,149,0,1,125,1
267,49,1,2,118,149,0,0,126,0
...,...,...,...,...,...,...,...,...,...
96,62,0,0,140,394,0,0,157,1
220,63,0,0,150,407,0,0,154,0
246,56,0,0,134,409,0,0,150,0
28,65,0,2,140,417,1,0,157,1
85,67,0,2,115,564,0,0,160,1

### **Convert Cleaned Data to New CSV**

In [83]:
## Want to save this cleaned/processed data to be used for further analysis throughout the project
# Make the new dataframe into a csv file that can be accessed

heart_file.to_csv("new_heart_file.csv")

In [57]:
# to find the average of rows/ columns 

df.mean(axis ='columns')

0      66.333333
1      67.666667
2      61.000000
3      66.000000
4      77.333333
         ...
298    62.444444
299    61.777778
300    61.000000
301    48.333333
302    66.444444
Length: 303, dtype: float64